In [ ]:
'''
서로 다른 기종간 호환되는 포맷인  JSON타입으로 변환하는 작업
JSON 사용하는 이유
    : 값 구분이 명확
    : 기기에 종속적이지 않음
    : 모든 언어가 호환되는 포맷
    :  csv보다 더 효율적인 사유는??
        => 고유한 key로 데이터 구분
    : 서버로부터 대량의 데이터를 client가  JASON 포맷으로 많이 사용
    : MongoDB의 데이터 저장 포맷 => json형태
API
    1. python의 list를 JSON형태(객체)로 변환 : dumps()
    2. JSON의 데이터를 python의 데이터로 변환 : loads()

실습단계
    1. 모듈 import
    2. test 데이터 구성
    3. json객체로 변환

고려사항

    1. 한글 데이터 보호(인코딩)
    
'''

<built-in method values of dict object at 0x000001F2A4A32900>

In [1]:
import json

friends = [
            {'f1' : 1, 'name' : '박성백'},
            {'f2' : 2, 'name' : '이이'},
            {'f3' : 3, 'name' : '허준'}
            ]



# '허준'을 반환하려면??
print(friends[2]['name'])

허준

In [4]:
print(friends)

[{'f1': 1, 'name': '박성백'}, {'f2': 2, 'name': '이이'}, {'f3': 3, 'name': '허준'}]

In [6]:
print(' ### list를 json객체로 변환해 보기')

 ### list를 json객체로 변환해 보기

In [7]:
jsonData = json.dumps(friends, ensure_ascii=False)
print(jsonData)

[{"f1": 1, "name": "박성백"}, {"f2": 2, "name": "이이"}, {"f3": 3, "name": "허준"}]

In [15]:
jsonData = json.dumps(friends, ensure_ascii=False, indent=10) # one indent parameter applying four spaces
print(jsonData)

[
          {
                    "f1": 1,
                    "name": "박성백"
          },
          {
                    "f2": 2,
                    "name": "이이"
          },
          {
                    "f3": 3,
                    "name": "허준"
          }
]

In [12]:
# 타입 비교
print(type(friends))
print(type(jsonData))

<class 'list'>
<class 'str'>

In [16]:
# json 확장자 파일로 생성
with open("friends.json", 'w', encoding='utf-8 sig') as f:
    json.dump(friends, fp=f, ensure_ascii=False) # dump f returns values

### w3에서 가져온 json 예제
https://www.w3schools.com/python/python_json.asp
예제 이해하기

이 데이터를 파일로 저장

저장된 파일을 다시 read해서 python data로 변환 후 활용(출력)

>의도
    -json과 python의 호환 작업 익숙해지기
    - 개별 함수로 개발해서 모듈화 시키는 연습


- main 사용 필수 : 최상위 실행 스크립트

In [46]:
# dump() => python to JSON
import json


x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

with open('marriage.json', 'w', encoding='utf-8 sig') as f:    
    print(json.dumps(x, ensure_ascii=False, indent=10))

{
          "name": "John",
          "age": 30,
          "married": true,
          "divorced": false,
          "children": [
                    "Ann",
                    "Billy"
          ],
          "pets": null,
          "cars": [
                    {
                              "model": "BMW 230",
                              "mpg": 27.5
                    },
                    {
                              "model": "Ford Edge",
                              "mpg": 24.1
                    }
          ]
}

In [33]:
# json으로 보내는 모듈
def ptoj(x, y):
    with open(y, 'w', encoding='utf-8 sig') as f:
        json.dump(x, fp=f, ensure_ascii = False, indent = 5)
        print('{} 파일을 저장했습니다.'.format(y))

ptoj(x, 'new_marriage.json')

new_marriage.json 파일을 저장했습니다.

In [43]:
# jtop 불러오기 모듈

def jtop(x):
    with open(x, 'r', encoding = 'utf-8 sig') as f:
        print(json.load(f))
    
jtop('new_marriage.json')

{'name': 'John', 'age': 30, 'married': True, 'divorced': False, 'children': ['Ann', 'Billy'], 'pets': None, 'cars': [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]}

In [41]:
# jtop불러오기 연습
with open('new_marriage.json', 'r', encoding = 'utf-8 sig') as f:
    print(json.load(f))

{'name': 'John', 'age': 30, 'married': True, 'divorced': False, 'children': ['Ann', 'Billy'], 'pets': None, 'cars': [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]}